<div class="row sign-up-form">
	<div class="col s12 m6 offset-m3">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Name: <%= @student.name %></span>
				<span>Email: <%= @student.email %></span>
				<p>No. of Course Enrollments: 
					<% if @student.courses.empty? %>
					None
					<% else %>
					 <%= @student.courses.count %>
					<% end %>
				</p>
			</div>
			<% if(@student == current_user) %>
				<div class="card-action">
					<%= link_to '<i class="material-icons right">create</i>Edit Profile'.html_safe, edit_student_path(@student), class: "waves-effect waves-light btn" %>
				</div>
			<% end %>
		</div>
			<% if !@student.courses.empty? %>
				<h4 class="center"><%= pluralize(@student.courses.count,"Course") %></h4>
				<% @student.courses.each do |course|%>
					<div class="card blue-grey lighten-3">
						<div class="card-image waves-effect waves-block waves-light">
						<%=image_tag("ca.jpg", class: "activator")%>  
						</div>
						<div class="card-content">
							<span class="card-title activator gray-text text-darken-4"><%= course.short_name %><i class="material-icons right">more_vert</i></span>
						</div>
						<div class="card-reveal blue-grey darken-3 white-text">
							<span class="card-title white-text text-darken-4"><%= course.name %>
							<i class="material-icons right">close</i></span>
							<p><%= course.description %></p>
						</div>
					</div>
				<% end %>
			<% end %>
	</div>
</div>